@model WebScraperMF.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productWebSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productWebSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productSearchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productSearchDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
